.header {
  padding: 1rem 0;
  font-size: 1.25rem;

}
.header-content{
  display: flex;
  justify-content: space-between;

}
.header__title {
    font-weight: bold;
}

.header__link {
    color: #000;
    transition: all 0.25s ease-in-out 0s;
}
.header__link :hover {
  text-decoration: none;
  color: var(--primary);
}