.list-library{
    list-style: none;
    padding: 0;
}
.title-library{
    margin: 10px 20px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.list3, .list2{
    border: none !important;
}