.Carousel{
    display: flex;
    justify-content: space-between;
}
.CarouselTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Pagination{

}
.CarouselText{    
    margin: 31px 0 10px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}